<% content_for :title do %>Birmingham.IO is Dashing<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="discourse_latest_topics" data-view="List" data-unordered="true" data-title="Latest Topics" data-moreinfo="on Birmingham.IO"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="discourse_new_topics" data-view="List" data-unordered="true" data-title="New Topics" data-moreinfo="on Birmingham.IO"></div>
    </li>
  </ul>
</div>